* {margin:0;padding:0;box-sizing:border-box;}
table {border-spacing:0;}
.ygm-calendar-wrapper {width:100%;}

.ygm-calendar-wrap .ygm-c-toolbar {text-align:center;}
.ygm-calendar-wrap .ygm-c-toolbar:after {content:'';display:block;clear:both;}
.ygm-calendar-wrap .ygm-c-toolbar .title {display:inline-block;}
.ygm-calendar-wrap .ygm-c-toolbar .btn-change.prev {float:left;}
.ygm-calendar-wrap .ygm-c-toolbar .btn-change.next {float:right;}

.ygm-calendar-wrap .ygm-c-view-box {border-top:1px solid #000;}
.ygm-calendar-wrap .ygm-c-content {width:100%;}
.ygm-calendar-wrap .ygm-c-content .cell-day.event-active {background: #ccc;}

/*type-week*/
.ygm-calendar-wrap .ygm-c-content.type-week .ygm-c-head th {border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.ygm-calendar-wrap .ygm-c-content.type-week .ygm-c-body td {width:1%;padding: 5px 15px; border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.ygm-calendar-wrap .ygm-c-content.type-week .ygm-c-body tr td:last-child {border-right:none}

/*type-month*/
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-head {text-align:center;}
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-head th {border-right:1px solid #ccc;border-bottom:1px solid #ccc;background:#eee;}
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-head th:last-child {border-right:0;}
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-body {text-align:right;}
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-body td {width:1%;height:70px;padding:5px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;vertical-align:top;}
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-body td:last-child {border-right:0;}

/*event-badge*/
.ygm-calendar-wrap .ygm-c-content .event-badge {display:block;/*width:8px;height:8px;*/border-radius:5px;background:rgb(226, 215, 54);/*font-size:0;*/}
.ygm-calendar-wrap .ygm-c-content .event-badge + .event-badge {margin-top:3px;}



/*popup*/
.ygm-c-popup-wrapper {position:fixed;top:50%;left:50%;min-width:70%;border-radius:20px;background:#fff;transform:translate(-50%, -50%);z-index:10;}
.ygm-c-popup-wrap {padding:50px;}
.ygm-c-pop-tit {margin-top:15px;font-size: 20px;font-weight:400;}
.ygm-c-pop-tit:first-child {margin-top:0;}
.ygm-c-pop-input-box {display:flex;width:100%;margin-top:10px;}
.ygm-c-pop-input-box input {flex:1;height:40px;border:1px solid #ccc;border-radius:5px;text-indent:5px;}
.ygm-c-pop-input-box input[type="text"] {text-indent:15px;}
.ygm-c-pop-input-box input + input {margin-left:10px;}
.ygm-c-pop-btn-box {display:flex;width:100%;margin-top:20px;}
.ygm-c-pop-btn-box .ygm-c-btn-basic {flex:1;height:50px;border:1px solid #ccc;background: #eee;}
.ygm-c-pop-btn-box .ygm-c-btn-basic + .ygm-c-btn-basic  {margin-left:15px;}
.ygm-c-popup-dim {position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.5);}
