* {margin:0;padding:0;box-sizing:border-box;}
table {border-spacing:0;}
.ygm-calendar-wrapper {width:100%;}

.ygm-calendar-wrap .ygm-c-toolbar {text-align:center;}

.ygm-calendar-wrap .ygm-c-view-box {border-top:1px solid #000;}
.ygm-calendar-wrap .ygm-c-content {width:100%;}
.ygm-calendar-wrap .ygm-c-content .cell-day.event-active {background: #ccc;}

/*type-week*/
.ygm-calendar-wrap .ygm-c-content.type-week .ygm-c-body th {border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.ygm-calendar-wrap .ygm-c-content.type-week .ygm-c-body td {height:70px;padding:15px; border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.ygm-calendar-wrap .ygm-c-content.type-week .ygm-c-body tr td:last-child {border-right:none}

/*type-month*/
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-head {text-align:center;}
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-head th {border-right:1px solid #ccc;border-bottom:1px solid #ccc;background:#eee;}
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-head th:last-child {border-right:0;}
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-body {text-align:right;}
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-body td {height:70px;padding:5px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;vertical-align:top;}
.ygm-calendar-wrap .ygm-c-content.type-month .ygm-c-body td:last-child {border-right:0;}

/*event-badge*/
.ygm-calendar-wrap .ygm-c-content .event-badge {display:block;width:8px;height:8px;border-radius:50%; background:rgb(136, 127, 0);font-size:0;}